AWS_REDSHIFT_HOST=data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com
AWS_REDSHIFT_PORT=5439
AWS_REDSHIFT_DATABASE=data-engineer-database
AWS_REDSHIFT_SCHEMA=pabloasd3_coderhouse
AWS_REDSHIFT_USER=
AWS_REDSHIFT_PASSWORD=

DRIVER_PATH="/driver/postgresql-42.5.2.jar"